
                                        <div class="modal-header">
                                            <h3 class="modal-title">{{note.OverrideTitle}}</h3><i class="fa fa-times" ng-click="ok()"></i>
                                        </div>
                                        <div class="modal-body colModal {{note.layout}}">
                                        	<div class="main ">
                                            <img src="images/{{note.front}}" style="width:100%" />
                                        </div>
                                    <div class="related ">{{note.front}}
<span class="relatedNote "  ng-repeat="note in note.relatedNotes">{{note.OverrideTitle}} </span>
                                    </div></div>
                                        <div class="modal-footer">
                                           
                                        </div>
                                  