
                                        <div class="modal-header">
                                            <h3 class="modal-title">{{title}}</h3><i class="fa fa-times" ng-click="ok()"></i>
                                        </div>
                                        <div class="modal-body colModal {{aspect}}">
                                        	<div class="main ">
                                            <img src="{{image}}" style="width:100%" />
                                        </div>
                                    <div class="related ">
<span class="relatedNote "  ng-repeat="note in relatedNotes">{{note.OverrideTitle}} </span>
                                    </div></div>
                                        <div class="modal-footer">
                                           
                                        </div>
                                  