<div id="header" class="noPrint" >
    <div id="corpId"><img src="images/logo.png"/></div>
    <div class="mainMenu">
         <a href="#collections" ng-click="currentPage='collections'" ng-class="{'activePage':currentPage=='collections'}"><i class="fa fa-money fa-lg"></i>Collections</a>
         <a href="#timeline" ng-click="currentPage='timeline'" ng-class="{'activePage':currentPage=='timeline'}"><i class="fa fa-clock-o fa-lg"></i>Timeline</a>
            <a href="#"><i class="fa fa-bars fa-lg"></i>About</a>
</div>
<span class="searchSpan" ><input placeholder="Search"></input ><i class="fa fa-search"></i></span>
</div>

