
                                        <div class="modal-header">
                                            <h3 class="modal-title">{{title}}</h3><i class="fa fa-times" ng-click="ok()"></i>
                                        </div>
                                        <div class="modal-body">
                                            <img src="{{image}}" style="width:100%" />
                                        </div>
                                        <div class="modal-footer">
                                           
                                        </div>
                                  